
$colorblack : #5e5b5c ;
$colorlightgreen : #b3d5bc ;
$colorgrey : darkgrey;
$textwhitecolor : rgb(235, 227, 227) ;
$lightgreycolor : lightgrey;
$verydarkgreycolor: #2A282E;
$colorbluegraph: #468df1;
$colorwhitegraph: #dae7fc;

$fontrobotto: 'Roboto', sans-serif;
$fontsans : 'Open Sans', sans-serif;
$fontsource : 'Source Code Pro', monospace;
  
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  

body {
    line-height: 1.35;
    font-family: $fontrobotto;
}

.page {
    background-color: white;
    padding: 20px;
}

/* Exercice 1 Exercice 1 Exercice 1 Exercice 1 Exercice 1 Exercice 1 */

.container1 {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr;
    .containito1 {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
    }
    .containito2 {
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        flex-direction: column;
    }
    .containito3 {
        grid-area: 1 / 5 / 2 / 6;
        display: flex;
        flex-direction: column;
    }
    .containito4 {
        grid-area: 1 / 7 / 2 / 8;
        display: flex;
        flex-direction: column;
    }
}

.containito1,
.containito2,
.containito3,
.containito4 {
    text-align: left;
    .image1 {
        text-align: center;
        margin-bottom: 15px;
    }
    h2 {
        margin-top: -5px;
        margin-bottom: -5px;
        color: $colorlightgreen;
        font-weight: 400;
    }
    p {
        color: $colorgrey;
        font-family: $fontsource;
        font-weight: 800;
    }

}

@media screen and (max-width: 768px) {
    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
        .containito1 {
            grid-area: 1 / 1 ;
            display: flex;
            flex-direction: column;
        }
        .containito2 {
            grid-area: 3 / 1;
            display: flex;
            flex-direction: column;
        }
        .containito3 {
            grid-area: 5 / 1;
            display: flex;
            flex-direction: column;
        }
        .containito4 {
            grid-area: 7 / 1;
            display: flex;
            flex-direction: column;
        }
    }
    

}



/* Exercice 2  Exercice 2 Exercice 2 Exercice 2 Exercice 2 Exercice 2 Exercice 2 */

$size-one : 14px;
$size-two : 18px;

.container2 {
    margin-top: 50px;
    margin-bottom: 50px; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: $size-two;
    width: 400px;
    height: 625px;
    background-color: $colorbluegraph;
    color: $colorwhitegraph;
    .container2bis
    {
        padding: 40px;
        .users {
            font-size: $size-two;
        }
        .c90 {
            font-size: 50px;
            padding-bottom: 25px;
        }
        .pageviews {
            font-size: $size-one
        }
        .line {
            margin-top: -5px;
        }
        .topactivepages {
            display: grid;
            margin-top : 20px;
            line-height: 1;
            grid-template-columns: 242px 75px ;
            grid-template-rows: repeat(6, 1fr 10px);
            border-color: solid 2 px green;
            .active {
                grid-area: 1 / 1 / 2 / 2;
                font-size: $size-one;
                margin-bottom: -30px;
            }
            .Users {
                grid-area: 1 / 2 / 2 / 3;
                font-size: $size-one;
                text-align: end;
            }
            .line0 {
                grid-area: 2 / 1 / 3 / 3;
                margin-top: -15px;
            }
            .name1 {
                grid-area: 3 / 1 / 4 / 3;
                padding: 5px;
            }
            .c46 {
                grid-area: 3 / 2 / 4 / 3;
                text-align: end;
                padding: 5px;
            }
            .line1 {
                grid-area: 4 / 1 / 5 / 3;
                margin-top: -15px;
                padding: 5px;
            }
            .name2 {
                grid-area: 5 / 1 / 6 / 3;
                padding: 5px;
            }
            .c8 {
                grid-area: 5 / 2 / 6 / 3;
                text-align: end;
                padding: 5px;
            }
            .line2 {
                grid-area: 6 / 1 / 7 / 3;
                margin-top: -15px;
                padding: 5px;
            }
            .name3 {
                grid-area: 7 / 1 / 8 / 3;
                padding: 5px;
            }
            .c30 {
                grid-area: 7 / 2 / 8 / 3;
                text-align: end;
                padding: 5px;
            }
            .line3 {
                grid-area: 8 / 1 / 9 / 3;
                margin-top: -15px;
                padding: 5px;
            }
            .name4 {
                grid-area: 9 / 1 / 10 / 3;
                padding: 5px;
            }
            .c31 {
                grid-area: 9 / 2 / 10 / 3;
                text-align: end;
                padding: 5px;
            }
            .line4 {
                grid-area: 10 / 1 / 11 / 3;
                margin-top: -15px;
                padding: 5px;
            }
            .name5 {
                grid-area: 11 / 1 / 12 / 3;
                padding: 5px;
            }
            .c32 {
                grid-area: 11 / 2 / 12 / 3;
                text-align: end;
                padding: 5px;
            }
        }
    }
    .report {
        margin-top: -25px;
        .report2 {
            padding-right: 25px;
            text-align: end;
            i {
                padding-left: 20px;
            }
        }
    }
}

hr {
    opacity: 30%;
}

/* Exercice 3  Exercice 3 Exercice 3 Exercice 3 Exercice 3 Exercice 3 Exercice 3 Exercice 3*/


.container3 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height : 400px;
    color: $colorblack;
    
    border: solid 1px lightgrey;
    box-shadow: 0px 0px 11px -1px lightgrey;
    .image {
        width: 40%;
        background-size: cover ;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        width: 60%;
        padding: 20px;
        h4 {
            font-family: $fontrobotto;
            font-weight: 700;
            font-size: 24px;
            color: $colorblack;
            margin-bottom : -10px;
        }
        .subtitle3 {
            color: $colorgrey;
            font-family: $fontsans;
            margin-top: -80px;
            font-size: 20px;
        }
        .bottom3 {
            display: flex;
            flex-direction: row;
            .pictext {
                display: flex;
                width: 70%;
                .photo {
                    display: flex;
                    align-items: center;
                    img {
                        display: flex;
                        border-radius: 50%;
                    }
                }
                .texttext {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .textsup {
                        text-align: left;
                        margin-bottom: -30px;
                    }
                    .textbottom {
                        text-align: left;
                        color: $lightgreycolor
                    }
                }
            }
            .icon {
                display: flex;;
                width: 25%;
                vertical-align: center;
                font-size: 20px;
                color: lightgray;
                align-items: center;
                justify-content: flex-end;
                i {
                    padding: 5px;
                }
            }
        }
        

    }
}








